<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/style.css" />
    <title>Document</title>
</head>
<body>
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <form>
            <label for="input-box">Claim Descriptions:</label>
            <hr>
            <!-- <input type="text" id="input-box" name="input-box"> -->
            <textarea name="" id="" cols="50" rows="6" placeholder="Write shortlyt why you claim for this results"></textarea>
            <br><br>
            <label for="file-upload">Appload your Exam Picture:</label>
            <input type="file" id="file-upload" name="file-upload">
            <hr>
            <button type="submit">Submit</button>
          </form>
        </div>
      
      </div>
</body>
</html>