<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'simsapp/mainstyle.css' %} "/>
    <script
      src="https://kit.fontawesome.com/2426fea4b2.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div class="sidenav">
      <hr>
      <ul>
        <li>
          <i class="fa-solid fa-gauge"></i>
        </i><a href="dashboard.html">Dashboard</a>
        </li>
      </ul>
      <hr />
      <ul>
        <li>      
          <i class="fa-solid fa-user "></i>
          <a href="#">Lecture</a></li>
      </ul>
      <hr />
      <ul>
        <li><a href="#">Dashboard</a></li>
      </ul>
      <hr />
      <ul>
        <li>
          <i class="fa-sharp fa-solid fa-registered"></i>
          <a href="#" onclick="registStudentPage()">Registration</a></li>
      </ul>
      <hr />
      <ul>
        <li>
          <i class="fa-solid fa-square-poll-vertical"></i>
          <a href="">Results</a>
          <ul>
            <ul>
              <li>
                <a href="#" onclick="carusltPage()" >CA Results</a>
              </li>
              <li><a href="#" onclick="finalRusltPage() ">Final Results</a></li>
            </ul>
          </ul>
        </li>
      </ul>
      <hr />
      <ul>
        <li>
          <i class="fa-sharp fa-regular fa-clipboard"></i>
          <a href="#" onclick="resultuploadPage()">Upload Resuts</a></li>
      </ul>
      <hr />
      <ul>
        <li>
          <i class="fa-sharp fa-solid fa-right-from-bracket"></i>
          <a href="#">LogOut</a></li>
      </ul>
    </div>

    <div id="right-content">
      <p>Hello test content</p>
    </div>

    <script>
        function regpagePopup() {
          // Define the URL of the pop-up window
          var url = "studentreg.html";
          
          // Define the size and position of the pop-up window
          var width = 600;
          var height = 400;
          var left = (screen.width - width) / 2;
          var top = (screen.height - height) / 2;
          
          // Open the pop-up window
          window.open(url, "pop-up-window", "width=" + width + ",height=" + height + ",left=" + left + ",top=" + top);
        }
    </script>
<!-- For upload ruslts -->
{%block content%}
<script>
  function resultuploadPage() {
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function() {
    if (xhr.readyState == 4 && xhr.status == 200) {
      document.getElementById("right-content").innerHTML = xhr.responseText;
    }
  };
  xhr.open("GET", "{% url 'resultupload' %}", true);
  xhr.send();
}
</script>

<script>
  function carusltPage() {
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function() {
    if (xhr.readyState == 4 && xhr.status == 200) {
      document.getElementById("right-content").innerHTML = xhr.responseText;
    }
  };
  xhr.open("GET", "{% url 'caresultpage' %}", true);
  xhr.send();
}
</script>


{% comment %} Register students {% endcomment %}
<script>
  function registStudentPage() {
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function() {
    if (xhr.readyState == 4 && xhr.status == 200) {
      document.getElementById("right-content").innerHTML = xhr.responseText;
    }
  };
  xhr.open("GET", "{% url 'studentreg' %}", true);
  xhr.send();
}
</script>

{% endblock %}
   
<!-- for checking results -->
    {% comment %} {%block content%}
   

    {% endblock %} {% endcomment %}
    <!-- Final results -->
    <script>
      function finalRusltPage() {
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 200) {
          document.getElementById("right-content").innerHTML = xhr.responseText;
        }
      };
      xhr.open("GET", "finalresultpahe.html", true);
      xhr.send();
    }
    </script>

    <!-- for Register students -->
  
    <!-- Claim scripts pop up -->
    <script>
      function claimPopup() {
        // Define the URL of the pop-up window
        var url = "components/claimpopup.html";
        
        // Define the size and position of the pop-up window
        var width = 600;
        var height = 400;
        var left = (screen.width - width) / 2;
        var top = (screen.height - height) / 2;
        
        // Open the pop-up window
        window.open(url, "pop-up-window", "width=" + width + ",height=" + height + ",left=" + left + ",top=" + top);
      }
      </script>

      <script>
        function signPopup() {
          // Define the URL of the pop-up window
          
          
          // Define the size and position of the pop-up window
          var width = 600;
          var height = 400;
          var left = (screen.width - width) / 2;
          var top = (screen.height - height) / 2;
          
          // Open the pop-up window
          //window.open(url, "pop-up-window", "width=" + width + ",height=" + height + ",left=" + left + ",top=" + top);
          window.alert("Are you sure you want to Sign this Results")
        }
        </script>
  </body>
</html>
