<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style/regist.css" />
    <script
      src="https://kit.fontawesome.com/2426fea4b2.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div class="register">
      <div class="regist-head"><p>Regiger Student who take your course</p></div>
      <form action="" method="post">
        <div class="input-type">
          <i class="fa-sharp fa-solid fa-user"></i>
          <label for="">First Name :</label>
          <input type="text" />
        </div>
        <div class="input-type">
          <i class="fa-sharp fa-solid fa-user"></i>
          <label for="">Last Name :</label>
          <input type="text" />
        </div>
        <div class="input-type">
          <i class="fa-solid fa-address-card"></i>
          <label for="">Programm. :</label>
          <input type="text" />
        </div>
        <hr />
        <div class="regist-btn"><button type="submit">Register</button></div>
      </form>
    </div>
  </body>
</html>
