<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'nitsims/regist.css' %}" />
    <script
      src="https://kit.fontawesome.com/2426fea4b2.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div class="register">
      <div class="regist-head"><p>Regiger Exam or Quize</p></div>
      <form action="" method="post">
        {% csrf_token %}
        <div class="input-type">
          <label for="">Program:</label>
          {% comment %} <input type="text" /> {% endcomment %}
          <select id="program" name="program">
            {% for program in programs %}
            <option value="{{program.id}}">{{program.name}}</option>
            {% endfor %}
        </select>
        </div>
        <div class="input-type">
          <label for="">Module Name:</label>
          <input type="text"  name="modulename"/>
        </div>
        
        <div class="input-type">
          <label for="">Exam Type:</label>
          <input type="text" name="examtype" />
        </div>
        <div class="input-type">
          <label for="">Date  :</label>
          <input type="text" name="" />
        </div>
        <div class="input-type">
          <label for="">Total  Marks:</label>
          <input type="text" name="totalmarks" />
        </div>
        <hr />
        <div class="regist-btn"><button type="submit">Register</button></div>
      </form>
    </div>
  </body>
</html>
